.nav-icon {
    position: relative;
    display: inline-block;
}

.sub-menu {
    display: none;
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 120px;
    z-index: 1000;
    transform: translateX(-35%);
}

.sub-menu li {
    padding: 12px;
    cursor: pointer;
    color : black;
}

.nav-icon:hover .sub-menu {
    display: block;
}

.nav-icon .badge {
    visibility: hidden;
}

.nav-icon:hover .badge {
    visibility: visible;
}
